#nav-logo {
        animation-name: wiggle;
        animation-duration: 3.5s;
        animation-iteration-count: infinite;
        animation-direction: alternate-reverse;
        animation-timing-function: ease-in-out;
}

#nav-logo:hover {
        filter: sepia(0.4);
        animation-delay: 5s;
}

@keyframes wiggle {
        0% {
                transform: rotateY(0deg);
                opacity: 1;
        }

        25% {
                transform: rotateY(20deg);
        }

        50% {
                transform: rotateY(0deg);
                opacity: 0.1;
        }

        75% {
                transform: rotateY(-20deg);
        }

        100% {
                transform: rotateY(0deg);
                opacity: 1;
        }
}

/* Fades an element */
.fade-in {
        animation: fade-in 6s ease-in-out;
        transition: all;
        animation-fill-mode: forwards;
}

@keyframes fade-in {
        0% {
                opacity: 0;
        }

        100% {
                opacity: 1;
        }

}

.bluey {
        animation: bluey 1s ease-in-out 4s;
        animation-fill-mode: forwards;
        color: white;
}

@keyframes bluey {
        0% {}

        100% {
                color: #0088CD;
        }
}

.bluey-fade-out {
        position: relative;
        animation: bluey-fade-out 4s ease-in-out;
        animation-fill-mode: forwards;
        animation-delay: 1s;
        color: #0088CD;
}

@keyframes bluey-fade-out {
        0% {}

        100% {
                color: white;
        }
}

#hidden-cover-text {
        position: relative;
        opacity: 0;
        transition-property: opacity;
        transition-duration: 100ms;
        transition-timing-function: ease-in-out;
        /*         animation: zIndex-in 3s linear;
        animation-fill-mode: forwards;
        animation-delay: 1s; */
}

#hidden-cover-text:focus,
#hidden-cover-text:hover {
        opacity: 1;
        text-shadow: 0px 3px 5px rgb(0, 0, 0.6);

}
