/* Fullscreen loader with background */
#loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader-content {
  text-align: center;
}

#loader img.spinning-image {
  width: 20vw; /* Adjust size as needed */
  max-width: 100px; /* Ensure it doesn't get too big */
  margin-bottom: 20px;
  animation: spin 5s linear infinite; /* Apply spinning animation */
}

.loader-circle {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 10vw; /* Adjust size as needed */
  max-width: 60px; /* Ensure it doesn't get too big */
  height: 10vw; /* Adjust size as needed */
  max-height: 60px; /* Ensure it doesn't get too big */
  animation: spin 2s linear infinite;
}

/* Animation for the spin */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
