@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;600&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");

* {
        box-sizing: border-box;
        transition-duration: 0.5s;
}

body,
html {
        min-width: auto;
        height: 100%;
        margin: 0;
        font-family: lato, "fira sans";

}

a[href] {
        text-decoration: none;
}

:root {
        --brand-ash: #cfd9dfd7;
        --brand-blue: #0088CD;
        --brand-subtle-ash: #DAE3EAB2;
        --card-ash: #EDEDED;
        --card-text-ash: #575757;
        --bg-img-blend-color: #56707ea2;
}


.parallax {
        position: relative;
        opacity: 1;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}

/* Sabi Car -> Page Hero*/
.bgimg-1 {
        background-image: url("../img/sabi_car@780px.png");
        width: 100%;
        height: auto;
        background-color: var(--bg-img-blend-color);
        background-blend-mode: multiply;
        background-repeat: no-repeat;
        background-position: center;
        background-clip: border-box;
        background-size: cover;
}

.brandcaption {
        font-weight: 700;
        font-size: 2.5rem;
        line-height: 2.5rem;
}

/* Earn bg */
.bgimg-4 {
        background-image: url(../sabimages/Rectangle_11.png);
        min-height: 100%;
        background-color: transparent;
        margin-left: auto;
        margin-right: auto;
}

/* Earn money */
.caption2 {

        font-size: 1rem;
        font-weight: bold;
        text-align: justify;
}

.servicecaption {
        padding: 6%;
        margin: auto;
        font-weight: 700;
        font-size: 3rem;
        line-height: 3rem;
}


.sp {
        /* position: absolute; */
        font-size: 1.8rem;
        margin: auto;
}



.numpill {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        min-height: 50px;
        min-width: 50px;
        width: 50px;
        height: 50px;
        background-color: #0088CD;
        text-decoration: none;
        color: #ffffff;
}

/* .rel {
        position: relative;
} */

.blue_hr {
        display: block;
        margin: auto;
        height: 10px;
        margin-bottom: 5%;
        border-radius: 10px;
        background-color: #0088CD;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.175);
        width: 80%;
}

.gray_border {
        border: 0px #a5a9acd7 solid;
        border-radius: 6px;
        background-color: #cfd9dfd7;
        background-blend-mode: darken;
        box-shadow: 7rem -5rem 4rem -5rem rgba(0, 0, 0, 0.75);
        margin: 10px;

}



.gray_hr {
        display: block;
        margin: auto;
        height: 10px;
        margin-bottom: 5%;
        border-radius: 10px;
        background-color: #cfd9dfd7;
        color: #cfd9dfd7;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.175);
        width: 80%;
}

.bluey {
        color: #0088CD;
        text-shadow: 2px 1px #000000;
}

/*
.btn-blue {
        background-color: #0088CD;
        text-decoration: none;
        color: #ffffff;
        font-weight: 600;
        font-size: 18px;
        font-family: 'Fira Sans';
}

.btn-blue:hover {
        background-color: #ffffff;
        text-decoration: none;
        color: #0088CD;
} */

/* .btn-white {
        background-color: #ffffff;
        text-decoration: none;
        color: #0088CD;
        font-weight: 600;
        border: none;
        border-radius: 1rem;
        min-height: 2.5rem;
        font-size: 0.8rem;

}

.btn-white:hover {
        background-color: #0088CD;
        text-decoration: none;
        color: #ffffff;
        font-weight: 600;
} */
.bgimg-1 .btn-light {
        color: #0088CD;
        border-radius: 3em;
        border: none;
        /* padding: 0.5em; */
        /* font-size: 0em; */
}

.bgimg-1 .btn-light:hover {
        color: white;
        background-color: #0088CD;
}






/* .card-dark {} */

.card:hover,
.card:focus {
        /* box-shadow: 0px 3px 5px rgb(0, 0, 0.6); */
        transform: scale(1.05);

}



.serviceCard .card {
        /*        filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.25));*/
        /*         font-size: 1rem;*/
        /*        transition: all 1.5s;*/
        /*        background-color: white;*/
        /*        background: #0088cd;*/
        background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
        /*        background: repeating-linear-gradient(#0000 0 calc(1.2rem - 1px), #66afe1 0 1.2rem) right bottom /100% 100%, linear-gradient(#0088cd 0 0) 30px 0/2px 100% #fff; */
        /*        background-color: var(--brand-blue);*/
        border-radius: 0.25rem;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        padding-left: 30px;
        /*        background: repeating-linear-gradient(#0000 0 calc(1.2rem - 1px), #0088CD 0 1.2rem) right bottom /100% 100%, linear-gradient(#cfd9dfd7 0 0) 30px 0/2px 100% white;*/
        /*        background-repeat: no-repeat;*/
        /*        line-height: 1.2rem;*/
        /*        -webkit-mask: radial-gradient(circle .8rem at 2px 50%, #0000 98%, #000)0 0/100% 2.4rem;*/

        font-size: 15px;

        .card-title {
                font-size: 1.3em;
        }

}


.serviceCard img {
        max-width: 40%;
        display: block;
        margin: auto;
}


/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1000px) {

        .parallax {
                background-attachment: scroll;
        }

        .adv {
                display: flex;
                overflow-x: auto;
                overflow-x: scroll;
        }

}

/*Parallax media queries*/
@media only screen and (min-width: 1000px) {
        .bgimg-1 {
                background-image: url(../img/Sabiridecar.png);
                width: 100%;
                height: auto;
                background-color: var(--bg-img-blend-color);
                background-blend-mode: multiply;
                background-repeat: no-repeat;
                background-position: center;
                background-clip: border-box;
                background-size: cover;
        }

        /*
        .bgimg-4 {
                min-height: 180%;
        }

        .brandcaption {
                position: absolute;
                top: 15%;
        }

        #phonemockup {
                position: absolute;
                top: 5%;
                left: auto;
                padding: 2px;
                width: 50%;
        }

        .lead-caption {
                position: absolute;
                top: 50%;
                font-size: 1rem;
                line-height: 1rem;
        }

        .caption1 {
                position: absolute;
                top: 56%;
        }

        .caption2 {
                position: absolute;
                top: 10%;
                display: block;
                left: 50%;
                transform: translateX(-50%);
        }


        .caption3 {
                position: absolute;
                top: 25%;
                display: block;
                left: 50%;
                transform: translateX(-50%);
        }
 */

        div.login>img {
                width: 10%;
        }

}

/*** login ***/
div.login>.btn {
        min-height: 50px;
        height: 60px;
        max-width: 500px;
}

form div.login:nth-child(1) {
        display: block;
        max-width: 600px;
        margin: auto;
}

div.login>img {
        max-width: 20%;
}

.page-footer {
        background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
        /* color: wh; */
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;

        a {
                color: black;

        }
}

.card {
        border: none;
}

.card-body img {
        max-height: 64px;
        max-width: 64px;
}

/* button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 3rem;
        justify-content: space-between;
} */
