@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700,100&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,300;1,400;1,500&family=Roboto:wght@500&display=swap');

* {
    font-family: Plus Jarkarta Sans;
}

span{
    font-family: Mulish;
    font-size: 50px;
    font-weight: 500;
    line-height: 63px;
    letter-spacing: 0em;
    text-align: left;
    color: #4DA1FF;
}
.bbox{
    position: relative;
    height: 63px;
    top: 70px;
}
span span{
    
    font-family: Mulish;
    font-size: 50px;
    font-weight: 500;
    line-height: 63px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000
}
.wrap{
position: relative;
top: 80px;
margin: 0 20%;
}
.wrap .bf{
position: relative;
top: 30px;
margin: 0 15%;
color: black;
border: 1px solid black;
}
.wrap .af{
position: relative;
top: -34px;
right: -50%;
border: 1px solid black;
}
#log{
    
    margin: 0 40%;
    color: #000000;
}
#driver-info{
position: relative;
top: 90px;
border-radius: 5px;
background: #DAE3EAB2;
}
#username{
position: relative;
font-family: Lato;
font-size: 18px;
font-weight: 500;
line-height: 27.6px;
letter-spacing: 0em;
text-align: left;
color: #000000B2;
padding-left: 15px;
margin: 5px 0 5px 10px;
border-radius: 5px;
outline: 0;
border: 0;
top: 0px;
}
#username:focus{
border: 3px solid#4DA1FF;
border-radius: 0%;
width: 45%;
}

#phone-number{
position: relative;
top: 1px;
font-family: Lato;
font-size: 18px;
font-weight: 500;
line-height: 27.6px;
letter-spacing: 0em;
text-align: left;
background: #dae3ea1c;
padding-left: 15px;
margin: 5px 0 5px 10px;
outline: none;
border: none;
}
#phone-number:focus{
border: 3px solid#4DA1FF;
border-radius: 0%;
width: 45%;
}
#username2{
    position: relative;
    font-family: Lato;
    font-size: 18px;
    font-weight: 500;
    line-height: 27.6px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000B2;
    padding-left: 15px;
    margin: 5px 0 5px 10px;
    border-radius: 5px;
    outline: 0;
    border: 0;
    top: 0px;
    }
    #username2:focus{
    border: 3px solid#4DA1FF;
    border-radius: 0%;
    width: 45%;
    }
    
    #phone-number2{
    position: relative;
    top: 1px;
    font-family: Lato;
    font-size: 18px;
    font-weight: 500;
    line-height: 27.6px;
    letter-spacing: 0em;
    text-align: left;
    background: #dae3ea1c;
    padding-left: 15px;
    margin: 5px 0 5px 10px;
    width: 40%;
    outline: none;
    border: none;
    }
    #phone-number2:focus{
    border: 3px solid#4DA1FF;
    border-radius: 0%;
    width: 45%;
    }
    #form2{
        display: none;
    }
    #error{
        margin-left: 11%;
        margin-top: -10px;
        color: #ff3860;
        font-size: 13px;
        display: none;
    }
    #label{
        height: 30px;
        margin-left: 3%;
        font-family: Lato;
        font-size: 25px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        color: #000000CC;
        width: 100%;
    }
    #user{
        position: relative;
        width: 80%;
        height: 42px;
        top: -10px;
        margin-left: 10%;
        border-radius: 5px;
        background-color: #DAE3EA80;
        border: 0;
        outline: 0;
        padding: 5px 0 5px 20px;
        font-family: Lato;
        font-size: 20px;
        font-weight: 500;
        line-height: 31px;
        letter-spacing: 0em;
        text-align: left;
        color: #6D7D8BB2;
    }
    #user:focus{
        border: 3px solid #4DA1FF;
        border-radius: 0;
    }

    button{
        position: relative;
        width: 70%;
        height: 30px;
        top: 10px;
        margin-left: 15%;
        border-radius: 10px;
        background: #4DA1FF;
        border: 0;
    }
    button span{
        color: #ffffff;
        font-family: Lato;
        font-size: 20px;
        font-weight: 700;
        position: relative;
        top: -15px;
    }
    a{
        text-decoration: none;
        color: #4DA1FF;
    }
    i{
        font-size: 35px;
        position: relative;
        top: -5px;
        color: #ffffff;
    }
    #forget-password{
        position: relative;
        height: 30px;
        top: 145px;
        
        font-family: Lato;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        color: #4DA1FF;
    }
    #create-account{
        position: relative;
        height: 30px;
        top: 150px;
        font-family: Lato;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        color: #000000B2;
    }

    @media screen and (min-width: 256px) and (max-width: 574px)  {
        .wrap .af{
            position: relative;
            top: -34px;
            right: -75%;
            border: 1px solid black;
            }
        #username:focus {
          width: 80%;
        }
        #phone-number:focus {
            width: 80%;
          }
          #username2:focus {
            width: 80%;
          }
      }
    @media screen and (min-width: 576px) and (max-width: 767px)  {
        .wrap .af{
            position: relative;
            top: -34px;
            right: -63%;
            border: 1px solid black;
            }
        #username:focus {
            width: 80%;
          }
          #phone-number:focus {
              width: 80%;
            }
            #username2:focus {
              width: 80%;
            }
      }
      @media screen and (min-width: 768px) and (max-width: 990px)  {
        .wrap .af{
            position: relative;
            top: -34px;
            right: -59%;
            border: 1px solid black;
            }
        #username:focus {
            width: 80%;
          }
          #phone-number:focus {
              width: 80%;
            }
            #username2:focus {
              width: 80%;
            }
      }

      @media screen and (min-width: 991px) and (max-width: 1045px)  {
        .wrap .af{
            position: relative;
            top: -34px;
            right: -55%;
            border: 1px solid black;
            }
        
      }
      @media screen and (min-width: 1046px) and (max-width: 1230px)  {
        .wrap .af{
            position: relative;
            top: -34px;
            right: -52%;
            border: 1px solid black;
            }
        
      }
    