@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;600&display=swap');

* {
        box-sizing: border-box;
}

body,
html {
        min-width: auto;
        height: 100%;
        margin: 0;
        font: 'Fira Sans', "Lato", sans-serif;

}

:root {
        --brand-ash: #cfd9dfd7;
        --brand-blue: #0088CD;
}


.parallax {
        position: relative;
        opacity: 1;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}

/* Sabi Car */
.bgimg-1 {
        background-image: url(../sabimages/Sabiridecarcropped2.png);
        min-height: 100%;
        width: 100%;
        background-color: #56707ea2;
        background-blend-mode: multiply;
        margin-left: auto;
        margin-right: auto;
}


/*  Service cards bg */
.bgimg-3 {
        /* background-image: url(../sabimages/Rectangle_48.png); */
        /* min-height: 100%; */
        /* background-blend-mode: lighten; */
        background-color: none;
        margin-left: auto;
        margin-right: auto;
}

/* Earn bg */
.bgimg-4 {
        background-image: url(../sabimages/Rectangle_11.png);
        min-height: 100%;
        background-color: transparent;
        margin-left: auto;
        margin-right: auto;
}

/* phone mock-up -> Unused */
/* .bgimg-5 {
        background-image: url(../sabimages/555.png);
        min-height: 100%;
        width: 100%;
        top: 30%;
        background-color: #56707ea2;
        background-blend-mode: multiply;
        margin-left: auto;
        margin-right: auto;
        z-index: 999;
} */

.brandcaption {
        padding: 6%;
        margin: auto;
        font-weight: 700;
        font-size: 3rem;
        line-height: 3rem;
}

.servicecaption {
        padding: 6%;
        margin: auto;
        font-weight: 700;
        font-size: 3rem;
        line-height: 3rem;
}

.caption0 {
        padding: 6%;
        text-align: justify;
        margin: auto;
}



.caption1 {
        padding: 6%;
        text-align: justify;
        margin: auto;
        font-size: 1.5rem;
        line-height: 1.5rem;
}


/* Earn money */
.caption2 {

        font-size: 1rem;
        font-weight: bold;
        text-align: justify;
}


.sp {
        /* position: absolute; */
        font-size: 1.8rem;
        margin: auto;
}

#phonemockup {
        width: 80%;
        background-blend-mode: multiply;
}

.numpill {
        display: block;
        border-radius: 50%;
        height: 55px;
        width: 55px;
}

.rel {
        position: relative;
}

.blue_hr {
        display: block;
        margin: auto;
        height: 10px;
        margin-bottom: 5%;
        border-radius: 10px;
        background-color: #0088CD;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.175);
        width: 80%;
}

.gray_border {
        border: 0px #a5a9acd7 solid;
        border-radius: 6px;
        background-color: #cfd9dfd7;
        background-blend-mode: darken;
        box-shadow: 7rem -5rem 4rem -5rem rgba(0, 0, 0, 0.75);
        margin: 10px;

}



.gray_hr {
        display: block;
        margin: auto;
        height: 10px;
        margin-bottom: 5%;
        border-radius: 10px;
        background-color: #cfd9dfd7;
        color: #cfd9dfd7;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.175);
        width: 80%;
}

.bluey {
        color: #0088CD;
        text-shadow: 2px 1px #000000;
}

.btn {
        background-color: #0088CD;
        text-decoration: none;
        color: #ffffff;
        font-weight: 600;
        font-size: 18px;
        font-family: 'Fira Sans';
}

.btn:hover {
        background-color: #ffffff;
        text-decoration: none;
        color: #0088CD;
}








/* .card-dark {} */

.card:hover,
card:focus {
        box-shadow: 0px 3px 5px rgb(0, 0, 0.6);

}



.serviceCard .card {
        filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.25));
        /* font-size: 1rem;
        transition: all 1.5s;
        background-color: white;
        background: #0088cd;
        background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
        background: repeating-linear-gradient(#0000 0 calc(1.2rem - 1px), #66afe1 0 1.2rem) right bottom /100% 100%, linear-gradient(#0088cd 0 0) 30px 0/2px 100% #fff; */
        background-color: var(--brand-blue);
        border-radius: 0.25rem;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        padding-left: 30px;
        background: repeating-linear-gradient(#0000 0 calc(1.2rem - 1px), #0088CD 0 1.2rem) right bottom /100% 100%, linear-gradient(#cfd9dfd7 0 0) 30px 0/2px 100% white;
        background-repeat: no-repeat;
        line-height: 1.2rem;
        -webkit-mask: radial-gradient(circle .8rem at 2px 50%, #0000 98%, #000)0 0/100% 2.4rem;

        font-size: 15px;

        .card-title {
                font-size: 1.3em;
        }

}


.serviceCard img {
        /* padding-top: 2%; */
        max-width: 40%;
        display: block;
        margin: auto;
}


/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1000px) {

        .parallax {
                background-attachment: scroll;
        }

        .bgimg-1 {
                padding-top: 90px;
        }

}

@media only screen and (min-width: 1000px) {
        .bgimg-1 {
                min-height: 200%;
        }


        /* .bgimg-3 {
                min-height: 150%;
        } */

        .bgimg-4 {
                min-height: 300%;
        }


        .brandcaption {
                position: absolute;
                top: 15%;
        }

        #phonemockup {
                position: absolute;
                top: 5%;
                left: auto;
                padding: 2px;
                width: 50%;
        }

        .caption0 {
                position: absolute;
                top: 50%;
        }

        .caption1 {
                position: absolute;
                top: 56%;
        }

        .caption2 {
                position: absolute;
                top: 15%;
                display: block;
                left: 50%;
                transform: translateX(-50%);
        }


        .caption3 {
                position: absolute;
                top: 40%;
                display: block;
                left: 50%;
                transform: translateX(-50%);
        }

        .serviceCard {
                display: flex;
                flex-wrap: wrap;
        }

        .serviceCard img {
                max-width: 40%;
                /* display: none; */
        }

        /* .serviceCard:hover .card {
                transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
                box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
                background: #0088CD;
        color: white;

        } */

        /* .serviceCard:hover .card img { */
        /* display: block;
                margin: auto; */
        /* transform: translate3d(0%, -10px, 25px);
                width: 50%;
                filter: sepia(0.5); */
        /* } */
}
